
<nav aria-label="Page navigation example" th:if="${pages > 1}">
    <ul  class="pagination justify-content-center">

        <th:block   th:each="i: ${#numbers.sequence(1, pages)}">

            <li class="page-item myselect active" th:value="${i}" th:if="${#strings.equals(i, page)}">
                <a class="page-link" href="#" th:text="${i}"></a>
            </li>
            <li class="page-item myselect" th:value="${i}" th:if="${!#strings.equals(i, page)}">
                <a class="page-link" href="#" th:text="${i}"></a>
            </li>
        </th:block>

    </ul>
</nav>